.single .tawcvs-swatches .swatch
{
	width: 15px;
	height: 15px;
}
.single .tawcvs-swatches .swatch-color.selected:before
{
	width: 3px;
    height: 7px;
    top: 2px;
    left: 5px;
}
.flaticon-back
{
	left: 10px;
}

.flaticon-right-arrow
{
	right: 10px;
}

.single .slick-arrow
{
	background-color: inherit;
}
.single .slick-arrow:hover
{
	background-color: inherit;
	border:none;
}

.single .slick-arrow.slick-next
{
	right: 20px;
}
.single .slick-arrow.slick-prev
{
	left: 20px;
}

.post_thumb .bx-controls .bx-pager
{
	position: absolute;
    bottom: 0;
    background: rgba(255,255,255,.5);
    padding: 10px 0px;
}

.post_thumb .bx-wrapper {
	margin-bottom: 0;
}

.post-1106.page #mainForm .pure-table
{
	margin:0 auto;
	margin-bottom:30px;
	border:none;
	text-align: center;
}
.post-1106.page #mainForm .pure-table th
{
	text-align:left;
	border:none;
}
.aff-wrap
{
	border:none;
}
.aff-wrap .wrap .pure-table
{
	width:30.33333%;
	float:left;
	margin:1%;
}

.wpam-daterange-selection
{
	width:50%;
	float:left;
}
.wpam-daterange-selection label
{
	width:15%;
}
.wpam-daterange-selection label, .wpam-daterange-selection input
{
	display:inline-block;
}
.wpam-daterange-selection input
{
	width:34%;
}
.aff-wrap .wrap .pure-table.wpam-responsive-table, .aff-wrap .wrap .pure-table.wpam-contact-info
{
	width: 100%;
}